{% extends 'main.html' %}

{% block content %}
<div class="container mt-3">
    <h5>Technicians</h5>
    <div class="table-responsive" style="margin-bottom: 5px;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Issues Resolved</th>
                    <th style="width: 50px;">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for tech in techs %}
                <tr>
                    <td>{{tech.name}}</td>
                    <td>{{tech.issues_resolved}}</td>
                    <td class="text-center"><i class="fas fa-trash-alt text-danger me-2"></i> <i class="fas fa-edit" style="color: #0004ff;"></i></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}