{% extends 'main.html' %}

{% block content %}

<div class="container mt-3">
    <h5>Instances</h5>
    <div class="table-responsive" style="margin-bottom: 5px;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Instance ID</th>
                    <th>Instance Type</th>
                    <th>IP</th>
                    <th>Storage</th>
                    <th style="width: 50px;">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for server in servers %}
                <tr>
                    <td>{{server.name}}</td>
                    <td>{{server.instance_id}}</td>
                    <td>{{server.instance_type}}</td>
                    <td>{{server.ip}}</td>
                    <td>{{server.stotage}}</td>
                    <td class="text-center"><i class="fas fa-trash-alt text-danger me-2"></i> <i class="fas fa-edit" style="color: #0004ff;"></i></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
<div style="position: fixed; right: 109px; bottom: 42px;">
    <button type="button" class="btn btn-primary btn-lg rounded-pill" onclick="location.href=`{% url 'core:create' %}`">
        <i class="fas fa-plus"></i>
    </button>
</div>


{% endblock content %}