{% extends 'main.html' %}

{% block content %}
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- <h5>Resources</h5>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Servers</td>
                            </tr>
                            <tr>
                                <td>Logs</td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->
                <div class="card mt-4">
                    <div class="card-body">
                        <h4 class="card-title">Resources</h4>
                        <ul class="list-unstyled text-start focus-ring">
                            <!-- <li class="focus-ring focus-ring-primary">Instances</li> -->

                            <li><a class="card-link" style="text-decoration: none;" href="{% url 'core:get_servers' %}">Servers - {{total_servers}}</a></li>
                            <li><a class="card-link" style="text-decoration: none;" href="{% url 'core:logs' %}">Logs - {{total_logs}}</a></li>
                            <li><a class="card-link" style="text-decoration: none;" href="{% url 'core:get_technicians' %}">Technicians - {{total_technicians}}</a></li>
                        <!-- </ul><a class="card-link" href="#">Link</a><a class="card-link" href="#">Link</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h5>Issues overview</h5>
                <header></header>


                <div><canvas data-bss-chart='{"type":"line","data":{"labels":{{ labels_json|safe }},"datasets":[{"label":"Issues","backgroundColor":"#d85e33","borderColor":"#d85e33","data":{{ data_json|safe }},"fill":true}]},"options":{"maintainAspectRatio":true,"legend":{"display":false,"labels":{"fontStyle":"normal"}},"title":{"fontStyle":"bold"},"scales":{"xAxes":[{"ticks":{"fontStyle":"normal"}}],"yAxes":[{"ticks":{"fontStyle":"normal"}}]}}}'>
                </canvas></div>


        </div>
    </div>
    <div class="container mt-3">
        <h5><a class="card-link" style="text-decoration: none;" href="{% url 'core:get_servers' %}">Instances</a></h5>
        <div class="table-responsive" style="margin-bottom: 5px;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Instance ID&nbsp;</th>
                        <th>Status</th>
                        <th style="width: 50px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for server in servers %}
                    <tr>
                        <td>{{ server.instance_id }}</td>
                        <td>Ok</td>
                        <td class="text-center"><i class="far fa-trash-alt text-danger"></i></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5><a class="card-link" style="text-decoration: none;" href="{% url 'core:logs' %}">Critical Issues</a></h5>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Issue Name</th>
                                <th>Instance</th>
                                <th>Created by</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for log in logs %}
                            <tr>
                                <td>{{log.log}}</td>
                                <td>{{log.server}}</td>
                                <td>{{log.created_by}}</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <h5><a class="card-link" style="text-decoration: none;" href="{% url 'core:get_technicians' %}">Technician</a></h5>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Technician Name</th>
                                <th>Issues solved</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for technician in technicians %}
                            <tr>
                                <td>{{technician.name}}</td>
                                <td>{{technician.issues_resolved}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}