{% extends 'main.html' %}

{% block content %}
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card cream-background mt-4">
                    <div class="card-body">
                        <h4 class="card-title">Resources</h4>
                        <ul class="list-unstyled text-start focus-ring">
                            <li><a class="card-link" style="text-decoration: none;"
                                    href="{% url 'core:get_servers' %}">Instances - {{total_servers}}</a></li>
                            <li><a class="card-link" style="text-decoration: none;" href="{% url 'core:logs' %}">Logs -
                                    {{total_logs}}</a></li>
                            <li><a class="card-link" style="text-decoration: none;"
                                    href="{% url 'core:get_technicians' %}">Technicians - {{total_technicians}}</a></li>
                            {% if request.user.userprofile.is_admin %}
                            <li><a class="card-link" style="text-decoration: none;"
                                    href="{% url 'users:get_users' %}">Users - {{usersCount}}</a></li>
                            {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h5 class="mt-2">Issues overview</h5>
                <div><canvas
                        data-bss-chart='{"type":"line","data":{"labels":{{ labels_json|safe }},"datasets":[{"label":"Issues","backgroundColor":"#d85e33","borderColor":"#d85e33","data":{{ data_json|safe }},"fill":true}]},"options":{"maintainAspectRatio":true,"legend":{"display":false,"labels":{"fontStyle":"normal"}},"title":{"fontStyle":"bold"},"scales":{"xAxes":[{"ticks":{"fontStyle":"normal"}}],"yAxes":[{"ticks":{"fontStyle":"normal"}}]}}}'>
                    </canvas></div>
            </div>
        </div>
        <div class="container cream-background mt-3">
            <div class="row">
                <div class="col">
                    <h5 class="mt-2"><a class="card-link" style="text-decoration: none;"
                            href="{% url 'core:get_servers' %}">Instances</a></h5>
                    <div class="table-responsive" style="margin-bottom: 5px;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Instance ID&nbsp;</th>
                                    <th>Status</th>
                                    <th style="width: 50px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for server in servers %}
                                <tr>
                                    <td><a href="{% url 'core:get_a_server' server.id %}">{{ server.instance_id }}</td>
                                    <td class="{% if server.instance_state == 'Running' %}text-success{% else %}text-danger{% endif %}">{{server.instance_state}}</td>
                                    <td class="text-center">
                                        <div style="display: flex;">
                                            <button type="button" class="btn" data-bs-toggle="modal"id="delete-btn" onclick="setServerId(`{{ server.id }}`)" data-bs-target="#exampleModal">
                                                <i class="fas fa-trash-alt text-danger me-2"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Are you sure do you want to delete your
                                    instance?</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>This action cant be undone</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger"
                                onclick="location.href=`{% url 'core:delete' id=0 %}`.replace('0', serverId)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container cream-background mt-3">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="mt-2"><a class="card-link" style="text-decoration: none;"
                            href="{% url 'core:logs' %}">Critical Issues</a></h5>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Issue Name</th>
                                    <th>Instance</th>
                                    <th>Created by</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for log in logs %}
                                <tr>
                                    <td>{{log.log}}</td>
                                    <td>{{log.server}}</td>
                                    <td>{{log.created_by}}</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <h5 class="mt-2"><a class="card-link" style="text-decoration: none;"
                            href="{% url 'core:get_technicians' %}">Technician</a></h5>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Technician Name</th>
                                    <th>Issues solved</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for technician in technicians %}
                                <tr>
                                    <td>{{technician.name}}</td>
                                    <td>{{technician.issues_resolved}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var serverId
        function setServerId(id) {
            serverId = id
        }   
        console.log(serverId);
    </script>  
</div>

    {% endblock content %}